on:
  push:
    branches:
      - main

name: Publish

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          registry-url: 'https://registry.npmjs.org'

      - name: Publish packages
        run: |
          yarn publish
